<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}
            
            <main class="list">
                <div class="site-description">
                    {{- if isset .Site.Params "subtitle" -}}
                    <p>{{ .Site.Params.Subtitle | markdownify }}</p>
                    {{- end -}}
                </div>
                
                <!-- Select, sort, and limit posts to the latest 3. -->
                {{ $allPosts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
                {{ $sortedPosts := sort $allPosts "Date" "desc" }}
                {{ $limitedPosts := first 3 $sortedPosts }}

                {{ range $limitedPosts }}
                <section class="list-item">
                    <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                    <time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
                    <br>{{ template "partials/pagedescription.html" . }}
                    <a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
                </section>
                {{ end }}

                <!-- "Read More" link pointing to your full posts list. Adjust path as needed. -->
                <p><a href="/charlesoneill/posts/">All Posts</a></p>
                
                <!-- Papers Section -->
                <section class="papers-section">
                    <h2>Papers</h2>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>.<br>
                        <em>Compute Optimal Inference and Provable Amortisation Gap in Sparse Autoencoders.</em><br>
                        Under submission to ICML 2025. <a href="https://arxiv.org/abs/2411.13117">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>.<br>
                        <em>Sparse Autoencoders for Disentangling Dense Embeddings of Scientific Concepts.</em><br>
                        Published as an Oral in NeurIPS 2024 - Foundation Models for Science. <a href="https://openreview.net/forum?id=mPq3R6jdtD">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>.<br>
                        <em>Sparse autoencoders for dense text embeddings reveal hierarchical feature sub-structure.</em><br>
                        Published in NeurIPS 2024 - Scientific Methods for Understanding Deep Learning. <a href="https://openreview.net/forum?id=hjROYyfxfO">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>.<br>
                        <em>Steering semantic search with interpretable features from sparse autoencoders.</em><br>
                        Published in NeurIPS 2024 - Foundation Model Interventions.</p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>.<br>
                        <em>Disentangling Dense Embeddings with Sparse Autoencoders.</em><br>
                        Under review. Released an accompanying web application on HuggingFace. <a href="https://arxiv.org/abs/2408.00657">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong> and Thang Bui.<br>
                        <em>Sparse Autoencoders Enable Scalable and Reliable Circuit Identification in Language Models.</em><br>
                        Pre-print on arXiv. <a href="https://arxiv.org/abs/2405.12522">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p><strong>Charles O'Neill</strong>, Yuan-Sen Ting, Ioana Ciuca, Roberta Raileanu, Jack Miller, and Thang Bui.<br>
                        <em>Steering Language Generation: Harnessing Contrastive Expert Guidance and Negative Prompting for Coherent and Diverse Synthetic Data Generation.</em><br>
                        Pre-print on arXiv. <a href="https://arxiv.org/abs/2308.07645">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p>Tuan Dung Nguyen, Yuan-Sen Ting, Ioana Ciuca, <strong>Charles O'Neill</strong>, and others.<br>
                        <em>AstroLLaMA: Towards specialised foundation models in astronomy.</em><br>
                        Published in IJCNLP-AACL 2023. <a href="https://arxiv.org/abs/2309.06126">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p>Jack Miller, <strong>Charles O'Neill</strong>, and Thang Bui.<br>
                        <em>Grokking Beyond Neural Networks: An Empirical Exploration with Model Complexity.</em><br>
                        Published in TMLR. <a href="https://arxiv.org/abs/2310.17247">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p>Ernest Perkowski, Rui Pan, Tuan Dung Nguyen, Yuan-Sen Ting, Sandor Kruk, Tong Zhang, <strong>Charles O'Neill</strong>, and others.<br>
                        <em>AstroLLaMA-Chat: Scaling AstroLLaMA with Conversational and Diverse Datasets.</em><br>
                        Published in Research Notes of the American Astronomical Society. <a href="https://iopscience.iop.org/article/10.3847/2515-5172/ad1abe/meta">Available here.</a></p>
                    </div>
                    <div class="paper">
                        <p>Jack Miller, Patrick Gleeson, <strong>Charles O'Neill</strong>, Thang Bui, and Noam Levi.<br>
                        <em>Measuring Sharpness in Grokking.</em><br>
                        Published in ICLR Workshop BGPT 2024. <a href="https://arxiv.org/abs/2402.08946">Available here.</a></p>
                    </div>
                </section>
            </main>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
